@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @variants hover, responsive {
        .full-colour {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }
    }

    @variants responsive {
        .grayscale {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
}

html, body {
    scroll-behavior: smooth;
    @apply h-full dark:bg-rich-black transition-colors duration-300;
}

#app {
    overflow-x: hidden;
}
